@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

div {
    font-family: "Roboto";
}

.MuiPaper-root {
    padding: 1.5em;
}

.MuiLinearProgress-root {
    margin-top: 1em;
}

.MuiAvatar-root {
    width: 250px !important;
    height: 250px !important;
}